#navbar{
    height: 50px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

